@charset "utf-8";

html {
  font-size: 16px;
}
body {
  font-size: 1rem;
  font-family: "YuGothic",Yu Gothic, sans-serif;
}
ul,li,ol,a{
  list-style-type: none;
  text-decoration: none;
}

/* ヘッダー */
#header-wrapper {
  background-color: rgb(50,20,26);
  padding: 40px 0;
}
.header-heading {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}
.header-heading__title {
  display: inline-block;
  color:#fff;
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.header-nav__list__a {
  text-decoration: none;
  color: #fff;
}
.header-nav__list__a:hover {
  color: #fff;
  opacity: 0.5;
}

/* footer */
#footer-wrapper {
  background-color: rgb(47,40,38);
  padding: 40px 0;
}

.footer-nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.footer-nav__list__a {
  text-decoration: none;
  color: #fff;
}
.footer-nav__list__a:hover {
  color: #fff;
  opacity: 0.5;
}

/* 検索TOPのCSS */

/* トップカルーセル */
.carousel__img {
  max-width: 960px;
  max-height: 400px;
}

/* 検索一覧 */
.hotel-reservation-search__wrapper {
  background-color: rgb(81, 61, 24);
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.hotel-reservation-search__checkin-title {
  color: #fff;
  margin-bottom: 15px;
}
#checkin_datepicker {
  display: inline-block;
  margin-left: 58px;
  margin-bottom: 15px;
}
#hotel-reservation-search__checkout-container {
  margin-left: 30px;
}
.hotel-reservation-search__checkout-title {
  color: #fff;
  margin-bottom: 15px;
}
#checkout_datepicker {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 15px;
}

.hotel-reservation-search__user-count-container {
  display: flex;
}
.hotel-reservation-search__user-count-title {
  color: #fff;
}
.hotel-reservation-search__user-count-select {
  display: inline-block;
  width: 16%;
  height: 25px;
  margin-left: 32px;
  margin-bottom: 15px;
}
.hotel-reservation-search__room-count-container {
  display: flex;
}
.hotel-reservation-search__room-count-title {
  color: #fff;
}
.hotel-reservation-search__room-count-select {
  display: inline-block;
  width: 16%;
  height: 25px;
  margin-left: 73px;
  margin-bottom: 15px;
}
.hotel-reservation-search__search-button-container {
  text-align: center;
}
.hotel-reservation-search__search-button {
  display: inline-block;
  background-color: rgb(145, 125, 82);
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
}

/* カレンダーcss */
.date-picker {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#date-input {
  padding: 8px;
  width: 200px;
}
.fa-calendar {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* feature */
#feature-wrapper {
  background-color: rgb(241, 235, 212);
}
.feature-container {
  margin-left: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.feature-title {
  font-size: 24px;
  font-family: sans-serif;
  margin-bottom: 30px;
}
.feature-main__img-container {
  text-align: center;
  margin-bottom: 30px;
}
.feature-main__img {
  width: 850px;
  height: 500px;
}
.feature-main__heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(182, 159, 105);
  margin-bottom: 15px;
}

.feature-main__description {
  font-size: 1rem;
}

/* stay */

/* stay recommended-plan */
.stay-recommended-plan__wrapper {
  margin-bottom: 40px;
}
.stay-recommended-plan__title-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.stay-recommended-plan__sub-title {
  font-family: 'Pinyon Script', cursive;
  font-size: 1.0rem;
}
.stay-recommended-plan__title {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline 1px solid rgb(34, 32, 0);
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
}
.stay-recommended-plan__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.stay-recommended-plan__img {
  width: 400px;
  height: 220px;
  margin-bottom: 15px;
}
.stay-recommended-plan__name {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.stay-recommended-plan__description {
  font-size: 0.9rem;
}

/* stay plan */
.stay-plan__wrapper {
  margin-bottom: 40px;
}
.stay-plan__title-container {
  text-align: center;
  margin-bottom: 40px;
}
.stay-plan__sub-title {
  font-family: 'Pinyon Script', cursive;
  font-size: 1.0rem;
}
.stay-plan__title {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline 1px solid rgb(34, 32, 0);
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
}
.stay-plan__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.stay-plan__img {
  width: 400px;
  height: 220px;
  margin-bottom: 15px;
}
.stay-plan__name {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.stay-plan__description {
  font-size: 0.9rem;
}

/* stay-room */
.stay-room__title-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.stay-room__sub-title {
  font-family: 'Pinyon Script', cursive;
  font-size: 1.0rem;
}
.stay-room__title {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline 1px solid rgb(34, 32, 0);
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
}
.stay-room__container {
    margin: 15px;
    text-align: center;
}
.stay-room__img {
  margin-bottom: 10px;
}
.stay-room__button {
  display: inline-block;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 98%;
}

/* restaurant recommended fair */

.restaurant-recommended-fair__title-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.restaurant-recommended-fair__sub-title {
  font-family: 'Pinyon Script', cursive;
  font-size: 1.0rem;
}
.restaurant-recommended-fair__title {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline 1px solid rgb(34, 32, 0);
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
}
.restaurant-recommended-fair__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.restaurant-recommended-fair__img {
  width: 400px;
  height: 220px;
  margin-bottom: 15px;
}
.restaurant-recommended-fair__name {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.restaurant-recommended-fair__description {
  font-size: 0.9rem;
  margin-bottom: 15px;
}
.restaurant-recommended-fair__event_date {
  font-size: 1rem;
  margin-bottom: 15px;
}

/* restaurant fair */

.restaurant-fair__title-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.restaurant-fair__sub-title {
  font-family: 'Pinyon Script', cursive;
  font-size: 1.0rem;
}
.restaurant-fair__title {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline 1px solid rgb(34, 32, 0);
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
}
.restaurant-fair__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.restaurant-fair__img {
  width: 400px;
  height: 220px;
  margin-bottom: 15px;
}
.restaurant-fair__name {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.restaurant-fair__description {
  font-size: 0.9rem;
  margin-bottom: 15px;
}
.restaurant-fair__event_date {
  font-size: 1rem;
  margin-bottom: 15px;
}
.restaurant-fair__price {
  font-size: 1rem;
  margin-bottom: 15px;
}
/* restaurant */
.restaurant__title-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.restaurant__sub-title {
  font-family: 'Pinyon Script', cursive;
  font-size: 1.0rem;
}
.restaurant__title {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline 1px solid rgb(34, 32, 0);
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
}
.restaurant__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.restaurant__img {
  width: 400px;
  height: 220px;
  margin-bottom: 15px;
}
.restaurant__name {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.restaurant__description {
  font-size: 0.9rem;
  margin-bottom: 15px;
}
.restaurant__event_date {
  font-size: 1rem;
  margin-bottom: 15px;
}
.restaurant__price {
  font-size: 1rem;
  margin-bottom: 15px;
}

/* banquet */
.banquet__title-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.banquet__sub-title {
  font-family: 'Pinyon Script', cursive;
  font-size: 1.0rem;
}
.banquet__title {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline 1px solid rgb(34, 32, 0);
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
}
.banquet__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 40px;
}
.banquet__img {
  width: 400px;
  height: 220px;
  margin-bottom: 15px;
}
.banquet__name {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.banquet__catch-copy {
  font-size: 0.9rem;
}
.banquet-use-count__title {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.banquet-tr__th {
  background-color: rgb(200, 198, 198);
}
.banquet-th {
  text-align: center;
  padding: 10px 20px;
}
.banquet-td {
  padding: 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.banquet-table {
margin-bottom: 40px;
}

/* facility */
.facility__title-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.facility__sub-title {
  font-family: 'Pinyon Script', cursive;
  font-size: 1.0rem;
}
.facility__title {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline 1px solid rgb(34, 32, 0);
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
}
.facility__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 40px;
}
.facility__img {
  width: 400px;
  height: 220px;
  margin-bottom: 15px;
}
.facility__name {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.facility__catch-copy {
  font-size: 0.9rem;
}

/* plan-detail */
.plan-detail__wrapper {
  margin: 30px;
}
.plan-detail__header {
  border-bottom: solid 2px #222;
  margin-bottom: 30px;
}
.plan-detail__name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.plan-detail__img {
  display: block;
  margin:  0 auto 30px;
  width: 100%;
  height: 500px;
}
.plan-detail__description {
  margin-bottom: 30px;
}
.plan-detail__item {
  display: flex;
}
.plan-detail__reserve-button-container {
  margin: 15px auto 0;
}
.reserve-button {
  display: inline-block;
  background-color: rgb(10, 10, 10);
  color: #fff;
  padding: 20px 200px;
  border-radius: 5px;
}

/* room */

.room__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 40px;
}
.room__title-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.room__sub-title {
  font-family: 'Pinyon Script', cursive;
  font-size: 1.0rem;
}
.room__title {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline 1px solid rgb(34, 32, 0);
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
}
.room__grid-item {
  margin: 30px;
}
.room__img {
  width: 100%;
  height: 220px;
  margin-bottom: 15px;
}
.room__name {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.room__description {
  font-size: 0.9rem;
  margin-bottom: 15px;
}
.room__button {
  display: inline-block;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 92%;
}

/* room-detail */
.room-detail__img {
  width: 100%;
  margin-bottom: 40px;
}
.room-detail__header {
  border-bottom: solid 2px #222;
  margin: 0 10px 30px;
}
.room-detail__name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.room-detail__description {
  font-size: 0.9rem;
  margin-bottom: 15px;
}
.room-detail__basic-info {
  margin: 15px;
}
.room-detail__basic-info-title {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline 1px solid rgb(34, 32, 0);
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
  margin-bottom: 30px;
}
.room-detail__basic-info-table {
  width: 100%;

}
.room-detail__basic-info-th {
  background-color: rgb(246, 246, 246);
  border-collapse: collapse;
  border: 1px solid rgb(199, 199, 199);
  padding: 10px 50px 10px 10px;
}
.room-detail__basic-info-td {
  border-collapse: collapse;
  border: 1px solid rgb(199, 199, 199);
  padding: 10px 200px 10px 10px;
}
.room_detail__equipment-item{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.room_detail__equipment-container {
  width: 50%;
}
.room_detail__equipment-title, .room_detail__amenity-title{
  border-left: 5px solid #E6E6E6;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px 0 10px 22px;
}
.room_detail__equipment-ul {
  list-style-type: disc;
}
.room_detail__equipment-li {
  list-style-type: none;
}

li:before {
  content: "・";
  padding-right: 5px;
  margin-left: 10px;
}
.room-detail__reserve-button-container {
  text-align: center;
  margin-bottom: 30px;
}
.room-detail__reserve-button {
  display: inline-block;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 94%;
}

