@charset "utf-8";

html {
  font-size: 16px;
}
body {
  font-size: 1rem;
  font-family: "YuGothic",Yu Gothic, sans-serif;
}
ul,li,ol,a{
  list-style-type: none;
  text-decoration: none;
}

/* ヘッダー */
#header-wrapper {
  background-color: rgb(87,9,14);
  padding: 40px 0;
}
.header-heading {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}
.header-heading__title {
  display: inline-block;
  color:#fff;
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.header-nav__list__a {
  text-decoration: none;
  color: #fff;
}
.header-nav__list__a:hover {
  color: #fff;
  opacity: 0.5;
}

/* footer */
#footer-wrapper {
  background-color: rgb(47,40,38);
  padding: 40px 0;
}

.footer-nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.footer-nav__list__a {
  text-decoration: none;
  color: #fff;
}
.footer-nav__list__a:hover {
  color: #fff;
  opacity: 0.5;
}


/* 検索TOPのCSS */

/* カレンダーcss */
.date-picker {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  #date-input {
    padding: 8px;
    width: 200px;
  }
  
  .fa-calendar {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

/* feature */
#feature-wrapper {
  background-color: rgb(241, 235, 212);
}
.feature-container {
  margin-left: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.feature-title {
  font-size: 24px;
  font-family: sans-serif;
  margin-bottom: 30px;
}
.feature-main__img-container {
  text-align: center;
  margin-bottom: 30px;
}
.feature-main__img {
  width: 850px;
  height: 500px;
}
.feature-main__heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(182, 159, 105);
  margin-bottom: 15px;
}

.feature-main__description {
  font-size: 1rem;
}