@charset "utf-8";

html {
  font-size: 16px;
}
body {
  font-size: 1rem;
  font-family: "YuGothic",Yu Gothic, sans-serif;
}
ul,li,ol,a{
  list-style-type: none;
  text-decoration: none;
}

/* ヘッダー */


/* 検索TOPのCSS */

/* カレンダーcss */
.date-picker {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  #date-input {
    padding: 8px;
    width: 200px;
  }
  
  .fa-calendar {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  